In [14]:
import pandas as pd
import numpy as np

In [15]:
file_path = 'C:/Users/yossr/Analyse_climatique/Tunisia_Weather.csv'
Weather_data = pd.read_csv(file_path,encoding='utf-8')
print(Weather_data)

       YEAR  MO  DY  ALLSKY_SFC_SW_DWN  ALLSKY_KT  ALLSKY_SFC_LW_DWN  \
0      1983   1   1            -999.00     -999.0            -999.00
1      1983   1   2            -999.00     -999.0            -999.00
2      1983   1   3            -999.00     -999.0            -999.00
3      1983   1   4            -999.00     -999.0            -999.00
4      1983   1   5            -999.00     -999.0            -999.00
...     ...  ..  ..                ...        ...                ...
14818  2023   7  28               7.35     -999.0             431.38
14819  2023   7  29               7.48     -999.0             433.92
14820  2023   7  30               7.11     -999.0             442.92
14821  2023   7  31               7.34     -999.0             410.23
14822  2023   8   1               7.32     -999.0             406.12

       ALLSKY_SFC_PAR_TOT  CLRSKY_SFC_PAR_TOT  ALLSKY_SFC_UV_INDEX  \
0                  -999.0              -999.0               -999.0
1                  -999.0              -999.0               -999.0
2                  -999.0              -999.0               -999.0
3                  -999.0              -999.0               -999.0
4                  -999.0              -999.0               -999.0
...                   ...                 ...                  ...
14818              -999.0              -999.0               -999.0
14819              -999.0              -999.0               -999.0
14820              -999.0              -999.0               -999.0
14821              -999.0              -999.0               -999.0
14822              -999.0              -999.0               -999.0

       ALLSKY_SFC_UVA  ...  T2M_MAX  T2M_MIN     TS  WS10M   WD10M  WS50M  \
0              -999.0  ...    13.02    -0.81   4.48   2.43  263.62   3.73
1              -999.0  ...    12.84     0.74   4.75   3.12  264.19   4.79
2              -999.0  ...    11.65     0.27   4.99   3.73  212.50   6.01
3              -999.0  ...    14.50     2.96   6.81   3.09  302.56   4.49
4              -999.0  ...    18.82     3.52   8.19   4.40  285.00   7.34
...               ...  ...      ...      ...    ...    ...     ...    ...
14818          -999.0  ...    42.51    23.64  35.21   4.52  194.25   5.59
14819          -999.0  ...    46.36    24.97  37.42   5.73  210.88   7.56
14820          -999.0  ...    44.59    27.04  37.63   1.55  141.94   1.70
14821          -999.0  ...    39.90    26.26  35.37   1.86  110.81   2.50
14822          -999.0  ...    38.83    25.01  34.80   2.34  132.69   2.94

        WD50M     PS  PRECTOTCORR   RH2M
0      265.12  98.23         0.11  70.38
1      263.56  98.09         0.07  76.56
2      212.62  98.47         0.16  84.56
3      303.19  98.57         0.07  75.50
4      285.31  98.22         0.00  58.75
...       ...    ...          ...    ...
14818  197.81  96.77         0.00  45.12
14819  212.00  96.61         0.00  33.69
14820  142.75  96.73        10.23  40.62
14821  112.00  96.71         0.00  41.38
14822  142.00  96.54         0.01  36.00

[14823 rows x 23 columns]

In [16]:
Weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14823 entries, 0 to 14822
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   YEAR                 14823 non-null  int64
 1   MO                   14823 non-null  int64
 2   DY                   14823 non-null  int64
 3   ALLSKY_SFC_SW_DWN    14823 non-null  float64
 4   ALLSKY_KT            14823 non-null  float64
 5   ALLSKY_SFC_LW_DWN    14823 non-null  float64
 6   ALLSKY_SFC_PAR_TOT   14823 non-null  float64
 7   CLRSKY_SFC_PAR_TOT   14823 non-null  float64
 8   ALLSKY_SFC_UV_INDEX  14823 non-null  float64
 9   ALLSKY_SFC_UVA       14823 non-null  float64
 10  ALLSKY_SFC_UVB       14823 non-null  float64
 11  T2M                  14823 non-null  float64
 12  T2MDEW               14823 non-null  float64
 13  T2M_MAX              14823 non-null  float64
 14  T2M_MIN              14823 non-null  float64
 15  TS                   14823 non-null  float64
 16  WS10M                14823 non-null  float64
 17  WD10M                14823 non-null  float64
 18  WS50M                14823 non-null  float64
 19  WD50M                14823 non-null  float64
 20  PS                   14823 non-null  float64
 21  PRECTOTCORR          14823 non-null  float64
 22  RH2M                 14823 non-null  float64
dtypes: float64(20), int64(3)
memory usage: 2.6 MB

In [17]:
Weather_data.drop_duplicates(inplace=True)
print(Weather_data.isnull().any(axis=1))

0        False
1        False
2        False
3        False
4        False
         ...
14818    False
14819    False
14820    False
14821    False
14822    False
Length: 14823, dtype: bool

In [18]:
print(Weather_data.head())
Weather_data.drop(columns=['T2MDEW','WD10M','WS50M','WD50M','ALLSKY_SFC_UV_INDEX'],inplace=True)

   YEAR  MO  DY  ALLSKY_SFC_SW_DWN  ALLSKY_KT  ALLSKY_SFC_LW_DWN  \
0  1983   1   1             -999.0     -999.0             -999.0
1  1983   1   2             -999.0     -999.0             -999.0
2  1983   1   3             -999.0     -999.0             -999.0
3  1983   1   4             -999.0     -999.0             -999.0
4  1983   1   5             -999.0     -999.0             -999.0

   ALLSKY_SFC_PAR_TOT  CLRSKY_SFC_PAR_TOT  ALLSKY_SFC_UV_INDEX  \
0              -999.0              -999.0               -999.0
1              -999.0              -999.0               -999.0
2              -999.0              -999.0               -999.0
3              -999.0              -999.0               -999.0
4              -999.0              -999.0               -999.0

   ALLSKY_SFC_UVA  ...  T2M_MAX  T2M_MIN    TS  WS10M   WD10M  WS50M   WD50M  \
0          -999.0  ...    13.02    -0.81  4.48   2.43  263.62   3.73  265.12
1          -999.0  ...    12.84     0.74  4.75   3.12  264.19   4.79  263.56
2          -999.0  ...    11.65     0.27  4.99   3.73  212.50   6.01  212.62
3          -999.0  ...    14.50     2.96  6.81   3.09  302.56   4.49  303.19
4          -999.0  ...    18.82     3.52  8.19   4.40  285.00   7.34  285.31

      PS  PRECTOTCORR   RH2M
0  98.23         0.11  70.38
1  98.09         0.07  76.56
2  98.47         0.16  84.56
3  98.57         0.07  75.50
4  98.22         0.00  58.75

[5 rows x 23 columns]

In [19]:
#renommer les colonnes
new_names={
    'YEAR' : 'ANNEE',
    'MO':'MOIS',
    'DY' : 'JOUR',
    'ALLSKY_SFC_SW_DWN' : 'LUM_SOL_ATTEINT_SURFACE',
    'ALLSKY_KT':'INDICE_CIEL_CLAIRE',
    'ALLSKY_SFC_LW_DWN' : 'INFRAROUGE_NUAGE',
    'ALLSKY_SFC_PAR_TOT':'LUM_PHOTOSYNTHESE_NUAGE',
    'CLRSKY_SFC_PAR_TOT' : 'LUM_PHOTOSYNTHESE_CLAIRE',
    'ALLSKY_SFC_UVA':'INDICE_RAYONS_UVA',
    'ALLSKY_SFC_UVB':'INDICE_RAYONS_UVB',
    'T2M':'T2M',
    'T2M_MAX':'T2M_MAX',
    'T2M_MIN':'T2M_MIN',
    'TS':'T_SURFACE',
    'WS10M':'VITESSE_VENT_10M',
    'PRECTOTCORR':'PRECIPITATION',
    'PS': 'PRESSION',
    'RH2M':'HUMIDITE_2M'
}
Weather_data.rename(columns=new_names, inplace=True)

In [20]:
print(Weather_data.head())

   ANNEE  MOIS  JOUR  LUM_SOL_ATTEINT_SURFACE  INDICE_CIEL_CLAIRE  \
0   1983     1     1                   -999.0              -999.0
1   1983     1     2                   -999.0              -999.0
2   1983     1     3                   -999.0              -999.0
3   1983     1     4                   -999.0              -999.0
4   1983     1     5                   -999.0              -999.0

   INFRAROUGE_NUAGE  LUM_PHOTOSYNTHESE_NUAGE  LUM_PHOTOSYNTHESE_CLAIRE  \
0            -999.0                   -999.0                    -999.0
1            -999.0                   -999.0                    -999.0
2            -999.0                   -999.0                    -999.0
3            -999.0                   -999.0                    -999.0
4            -999.0                   -999.0                    -999.0

   INDICE_RAYONS_UVA  INDICE_RAYONS_UVB   T2M  T2M_MAX  T2M_MIN  T_SURFACE  \
0             -999.0             -999.0  5.48    13.02    -0.81       4.48
1             -999.0             -999.0  5.80    12.84     0.74       4.75
2             -999.0             -999.0  5.43    11.65     0.27       4.99
3             -999.0             -999.0  7.59    14.50     2.96       6.81
4             -999.0             -999.0  9.02    18.82     3.52       8.19

   VITESSE_VENT_10M  PRESSION  PRECIPITATION  HUMIDITE_2M
0              2.43     98.23           0.11        70.38
1              3.12     98.09           0.07        76.56
2              3.73     98.47           0.16        84.56
3              3.09     98.57           0.07        75.50
4              4.40     98.22           0.00        58.75

In [23]:
Weather_data= Weather_data.drop(Weather_data[Weather_data['ANNEE'] < 2001].index)
Weather_data= Weather_data.drop(Weather_data[Weather_data['ANNEE'] > 2022].index)
Weather_data

,ANNEE,MOIS,JOUR,LUM_SOL_ATTEINT_SURFACE,INDICE_CIEL_CLAIRE,INFRAROUGE_NUAGE,LUM_PHOTOSYNTHESE_NUAGE,LUM_PHOTOSYNTHESE_CLAIRE,INDICE_RAYONS_UVA,INDICE_RAYONS_UVB,T2M,T2M_MAX,T2M_MIN,T_SURFACE,VITESSE_VENT_10M,PRESSION,PRECIPITATION,HUMIDITE_2M
6575,2001,1,1,3.38,0.73,263.80,58.92,60.29,6.79,0.07,6.73,13.80,1.51,6.62,5.06,97.11,0.01,61.31
6576,2001,1,2,3.25,0.70,283.45,56.67,59.95,6.66,0.09,10.31,20.63,3.62,9.44,5.04,96.96,0.00,44.62
6577,2001,1,3,3.38,0.73,273.17,59.55,60.45,6.88,0.10,9.18,16.70,4.00,8.63,2.96,97.35,0.00,55.38
6578,2001,1,4,2.69,0.58,291.03,47.52,57.05,5.77,0.08,10.94,19.74,4.45,9.39,3.05,97.37,0.00,55.69
6579,2001,1,5,3.33,0.71,293.48,58.58,59.79,6.78,0.08,11.99,20.81,6.33,11.26,4.55,97.33,0.00,56.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14605,2022,12,27,2.91,-999.00,281.03,-999.00,-999.00,-999.00,-999.00,16.66,24.31,10.65,13.14,1.99,98.06,0.00,29.00
14606,2022,12,28,2.97,-999.00,271.12,-999.00,-999.00,-999.00,-999.00,13.42,22.31,8.68,11.92,2.77,97.93,0.00,39.50
14607,2022,12,29,2.15,-999.00,277.73,-999.00,-999.00,-999.00,-999.00,11.85,19.44,7.26,11.12,4.58,97.72,0.00,49.31
14608,2022,12,30,3.00,-999.00,260.91,-999.00,-999.00,-999.00,-999.00,11.83,19.19,5.33,10.40,1.98,97.87,0.00,50.12
14609,2022,12,31,2.90,-999.00,266.55,-999.00,-999.00,-999.00,-999.00,11.44,18.62,6.95,9.65,2.41,98.21,0.00,45.56

In [8]:
Weather_data = Weather_data.astype({'ANNEE': 'string', 'MOIS': 'string', 'JOUR':'string'})
Weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14823 entries, 0 to 14822
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ANNEE                     14823 non-null  string
 1   MOIS                      14823 non-null  string
 2   JOUR                      14823 non-null  string
 3   LUM_SOL_ATTEINT_SURFACE   14823 non-null  float64
 4   INDICE_CIEL_CLAIRE        14823 non-null  float64
 5   INFRAROUGE_NUAGE          14823 non-null  float64
 6   LUM_PHOTOSYNTHESE_NUAGE   14823 non-null  float64
 7   LUM_PHOTOSYNTHESE_CLAIRE  14823 non-null  float64
 8   INDICE_RAYONS_UVA         14823 non-null  float64
 9   INDICE_RAYONS_UVB         14823 non-null  float64
 10  T2M                       14823 non-null  float64
 11  T2M_MAX                   14823 non-null  float64
 12  T2M_MIN                   14823 non-null  float64
 13  T_SURFACE                 14823 non-null  float64
 14  VITESSE_VENT_10M          14823 non-null  float64
 15  PRESSION                  14823 non-null  float64
 16  PRECIPITATION             14823 non-null  float64
 17  HUMIDITE_2M               14823 non-null  float64
dtypes: float64(15), string(3)
memory usage: 2.0 MB

In [9]:
Weather_data['DATE'] = Weather_data.apply(lambda row: f"{row['JOUR']}-{row['MOIS']}-{row['ANNEE']}", axis=1)
Weather_data

,ANNEE,MOIS,JOUR,LUM_SOL_ATTEINT_SURFACE,INDICE_CIEL_CLAIRE,INFRAROUGE_NUAGE,LUM_PHOTOSYNTHESE_NUAGE,LUM_PHOTOSYNTHESE_CLAIRE,INDICE_RAYONS_UVA,INDICE_RAYONS_UVB,T2M,T2M_MAX,T2M_MIN,T_SURFACE,VITESSE_VENT_10M,PRESSION,PRECIPITATION,HUMIDITE_2M,DATE
0,1983,1,1,-999.00,-999.0,-999.00,-999.0,-999.0,-999.0,-999.0,5.48,13.02,-0.81,4.48,2.43,98.23,0.11,70.38,1-1-1983
1,1983,1,2,-999.00,-999.0,-999.00,-999.0,-999.0,-999.0,-999.0,5.80,12.84,0.74,4.75,3.12,98.09,0.07,76.56,2-1-1983
2,1983,1,3,-999.00,-999.0,-999.00,-999.0,-999.0,-999.0,-999.0,5.43,11.65,0.27,4.99,3.73,98.47,0.16,84.56,3-1-1983
3,1983,1,4,-999.00,-999.0,-999.00,-999.0,-999.0,-999.0,-999.0,7.59,14.50,2.96,6.81,3.09,98.57,0.07,75.50,4-1-1983
4,1983,1,5,-999.00,-999.0,-999.00,-999.0,-999.0,-999.0,-999.0,9.02,18.82,3.52,8.19,4.40,98.22,0.00,58.75,5-1-1983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14818,2023,7,28,7.35,-999.0,431.38,-999.0,-999.0,-999.0,-999.0,32.46,42.51,23.64,35.21,4.52,96.77,0.00,45.12,28-7-2023
14819,2023,7,29,7.48,-999.0,433.92,-999.0,-999.0,-999.0,-999.0,35.83,46.36,24.97,37.42,5.73,96.61,0.00,33.69,29-7-2023
14820,2023,7,30,7.11,-999.0,442.92,-999.0,-999.0,-999.0,-999.0,34.77,44.59,27.04,37.63,1.55,96.73,10.23,40.62,30-7-2023
14821,2023,7,31,7.34,-999.0,410.23,-999.0,-999.0,-999.0,-999.0,32.71,39.90,26.26,35.37,1.86,96.71,0.00,41.38,31-7-2023
14822,2023,8,1,7.32,-999.0,406.12,-999.0,-999.0,-999.0,-999.0,31.85,38.83,25.01,34.80,2.34,96.54,0.01,36.00,1-8-2023

In [10]:
Weather_data['DATE'] = pd.to_datetime(Weather_data['DATE'], format='%d-%m-%Y')
Weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14823 entries, 0 to 14822
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ANNEE                     14823 non-null  string
 1   MOIS                      14823 non-null  string
 2   JOUR                      14823 non-null  string
 3   LUM_SOL_ATTEINT_SURFACE   14823 non-null  float64
 4   INDICE_CIEL_CLAIRE        14823 non-null  float64
 5   INFRAROUGE_NUAGE          14823 non-null  float64
 6   LUM_PHOTOSYNTHESE_NUAGE   14823 non-null  float64
 7   LUM_PHOTOSYNTHESE_CLAIRE  14823 non-null  float64
 8   INDICE_RAYONS_UVA         14823 non-null  float64
 9   INDICE_RAYONS_UVB         14823 non-null  float64
 10  T2M                       14823 non-null  float64
 11  T2M_MAX                   14823 non-null  float64
 12  T2M_MIN                   14823 non-null  float64
 13  T_SURFACE                 14823 non-null  float64
 14  VITESSE_VENT_10M          14823 non-null  float64
 15  PRESSION                  14823 non-null  float64
 16  PRECIPITATION             14823 non-null  float64
 17  HUMIDITE_2M               14823 non-null  float64
 18  DATE                      14823 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(15), string(3)
memory usage: 2.1 MB

In [11]:
ordre_columns = ['ANNEE','MOIS','JOUR','DATE','T2M','T2M_MAX','T2M_MIN','T_SURFACE','LUM_SOL_ATTEINT_SURFACE','INDICE_CIEL_CLAIRE','INFRAROUGE_NUAGE',
                 'LUM_PHOTOSYNTHESE_NUAGE','LUM_PHOTOSYNTHESE_CLAIRE', 'INDICE_RAYONS_UVA','INDICE_RAYONS_UVB','VITESSE_VENT_10M','PRESSION',
                   'PRECIPITATION', 'HUMIDITE_2M']
Weather_data = Weather_data[ordre_columns]
Weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14823 entries, 0 to 14822
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ANNEE                     14823 non-null  string
 1   MOIS                      14823 non-null  string
 2   JOUR                      14823 non-null  string
 3   DATE                      14823 non-null  datetime64[ns]
 4   T2M                       14823 non-null  float64
 5   T2M_MAX                   14823 non-null  float64
 6   T2M_MIN                   14823 non-null  float64
 7   T_SURFACE                 14823 non-null  float64
 8   LUM_SOL_ATTEINT_SURFACE   14823 non-null  float64
 9   INDICE_CIEL_CLAIRE        14823 non-null  float64
 10  INFRAROUGE_NUAGE          14823 non-null  float64
 11  LUM_PHOTOSYNTHESE_NUAGE   14823 non-null  float64
 12  LUM_PHOTOSYNTHESE_CLAIRE  14823 non-null  float64
 13  INDICE_RAYONS_UVA         14823 non-null  float64
 14  INDICE_RAYONS_UVB         14823 non-null  float64
 15  VITESSE_VENT_10M          14823 non-null  float64
 16  PRESSION                  14823 non-null  float64
 17  PRECIPITATION             14823 non-null  float64
 18  HUMIDITE_2M               14823 non-null  float64
dtypes: datetime64[ns](1), float64(15), string(3)
memory usage: 2.1 MB

In [14]:
output_file = 'C:/Users/yossr/Desktop/Clima_pipeline/Weather_output.csv'
Weather_data.to_csv(output_file,index=False,encoding='utf-8')
print('Les données sont enregistrées')

Les données sont enregistrées